.footer-block {
	background-color: rgb(0, 18, 47);
	color: #FFFFFF;
	font-size: 14px;
}

.footer-block ul {
	list-style-type: none;
	padding: 0;
	margin-top: 55px;
}

.footer-block li {
	margin-bottom: 15px;
}

.footer-left {
	width: 250px;
}

.footer-left a {
	text-decoration: none;
	color: #FFFFFF;
}

	.footer-left ul {
		columns: 2;
		width: 200px;
		
	}

	.footer-left li {
		margin-bottom: 15px;
	}

.footer-center {

	margin-bottom: 30px;
	padding-left: 30px;
}

.footer-center a {
	text-decoration: none;
	color: #FFFFFF;
}

.footer-center ul {
	margin-right: 30px;
	
}

.footer-right {
	justify-content: right;
}


.footer-right a {
	text-decoration: none;
	color: #FFFFFF;
}

	.icon-footer {
		display: inline-block;
		text-decoration: none;
		color: #FFFFFF;
		padding-right: 10px;
		padding-bottom: 20px;
	}

	.footer-tel {
		position: relative;
		padding-left: 40px;
		background-image: url('img/icon-tel.png');
		background-repeat: no-repeat;
	}

	.footer-mail {
		position: relative;
		padding-left: 40px;
		background-image: url('img/icon-mail.png');
		background-repeat: no-repeat;
	}

.footer-bottom {
	width: 1000px;
	margin: 10px 0;
	text-align: center;
	border-top: 1px solid black;
	font-size: 10px;
	color: gray;
	padding-top: 10px;
	padding-bottom: 5px;
}