.black-bar {
	background-color: black;
	color: white;
	padding: 10px 0;
	font-size: 16px;
	
}

.black-bar a {
	color: white;
}

.black-bar__datetime {
    align-items: baseline;
    margin: 10px;
}

.header {
	height: 100px;
}

.header__logo {
	position: absolute;
	top: 40px;
}

.header__temp {
	margin: auto auto 10px 200px;
    padding-left: 40px;
    font-size: 16px;
	padding-top: 5px;
	background-image: url('img/icon-temp.png');
	background-repeat: no-repeat;
	color: gray;
}

#select-wrapper {
	font-size: 0;
    margin: auto auto 10px 200px;
    border-bottom: 2px dashed #448ccb;
}

#custom-select {
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 16px;
}

.seach {
	margin-top: 40px;
	width: 250px;
	height: 40px;
	border: 1px solid rgb(243,243, 243);
	border-radius: 20px;
	background-color: rgb(243,243, 243);
}

.seach__field {
	height: 40px;
	width: 220px;
	border: 1px solid rgb(243,243, 243);
	border-radius: 20px;
    padding-left: 10px;

}

.seach input {
	border: none;
	background-color: rgb(243, 243, 243);
}

.seach__button {
	width: 18px;
	height: 18px;
	background: url('img/icon-seach.png');
	vertical-align: middle;
}

.header__menu-container {
	height: 50px;
    padding-bottom: 13px;
    font-size: 16px;
}

.header__menu-container ul {
	padding-left: 0;
}

.header__menu-container li {
	display: inline;
	padding-right: 25px;
    margin-right: 10px;

}

.header__menu-container li:not(:last-child) {
    background-image: url('img/background-menu.png');
    background-position: right;
    background-repeat: no-repeat;
}

.header__menu-container a {
	color: black;
	text-decoration: none;	
}