.column-left {
	background-color: #FFFFFF;
    margin-bottom: 20px;
    width: 250px;
}

	.column-left__news-item {
		padding-left: 18px;
		margin-bottom: 20px;
		font-size: 14px;
		list-style-type: none;
	}

	.column-left__news-item li{
		margin-bottom: 20px;
	}

	.column-left__news-item-text {
		margin-bottom: 15px;
		line-height: 20px;
		font-size: 14px;
		font-weight: 500;
	}

	.column-left__news-item-props {
		font-size: 12px;
		
	}

		.column-left__news-item-props a {
			color: #91919f;
			text-decoration: none;
		}

		.column-left__news-time {
            padding-left: 15px;
            margin-left: 30px;
			background-image: url('img/icon-time.png');
			background-repeat: no-repeat;
		}

		.column-left__news-comments-count {
			padding-left: 15px;
            margin-left: 10px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;
		}


.column-left__all_news {
	margin-top: 35px;
}

.column-left__all_news a {
	text-align: center;
	font-size: 14px;
	display: block;
	padding: 14px 0;
	margin: 0 35px;
	border: 1px solid blue;
	border-radius: 30px;
	color: blue;
	text-decoration: none;
}

.column-center {
	width: 460px;
    display: flex;
    flex-wrap: wrap;
}

.column-center__news1 img {
    position: relative;
}

.column-center__news1-text {
    position: absolute;
    top: 90px;
    left: 300px;
    color: #FFFFFF;
	width: 350px;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.news1-text__url a {
	text-decoration: none;
	color: #FFFFFF;
}

.news1-text__time {
	margin-left: 15px;
	padding-left: 15px;
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
}

.news1-text__text {
	font-size: 26px;
	font-weight: 700;
}

.news1-text__datetime {
	display: flex;
	flex-direction: row;
	font-size: 12px;
}

.central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
}

.central-container .fixed-container {
	overflow-y: hidden;
}

.news-center__left {
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
   
	
}

.news-center__right {
	width: 220px;
	margin-bottom: 20px;
}

.news-item {
	padding-left: 18px;
	margin-bottom: 27px;
	font-size: 14px;
}

.news-center__news-text {
	margin-bottom: 15px;
	width: 207px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}

.news-center__news-props {
	font-size: 10px;
	display: flex;
}

	.news-center__news-props a {
		color: #91919f;
		text-decoration: none;
	}

	.news_center__news-time {
		padding-left: 15px;
        margin-left: 35px;
		background-image: url('img/icon-time.png');
		background-repeat: no-repeat;
	}

	.news_center__news-comments-count {
		padding-left: 15px;
        margin-left: 10px;
		background-image: url('img/icon-comments.png');
		background-repeat: no-repeat;
	}

.column-right {
	width: 250px;
}

.column-right img {
	margin-bottom: 16px;
}

.special-news {
	background-color: #FFFFFF;
	display: flex;
	margin-bottom: 50px;
}

.special-news__banner-text {
	position: absolute;
	top: 105px;
	left: 20px;
	width: 510px;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #FFFFFF;
}

.special-news__url {
	margin-bottom: 12px;
}

.special-news__banner-text a {
	text-decoration: none;
	color: #cdcdce;
}

.special-news__right-item {
	list-style-type: none;
}

.special-news__right-item li {
	margin-bottom: 30px;
}

.special-news__text {
	font-size: 16px;
	font-weight: 700;
}

.special-news__date-time {
	font-size: 12px;
	display: flex;
}

.special-news__time {
	padding-left: 12px;
    margin-left: 10px;
	background-image: url('img/clock.png');
	background-repeat: no-repeat;
}

.special-news__text-buttom {
	font-size: 14px;
	line-height: 20px;
	color: #cdcdce;
}

.special-news__right-item {
	padding-left: 18px;
	margin-bottom: 27px;
	font-size: 14px;
	
}

.special-news__item-text {
	margin-bottom: 10px;
	font-weight: 750;
	font-size: 16px;
	line-height: 24px;
}

.special-news__item-props {
	font-size: 12px;
	display: flex;
}

	.special-news__item-props a {
		color: #91919f;
		text-decoration: none;
	}

	.special-news__time2{
		margin-left: 15px;
		padding-left: 15px;
		background-image: url('img/icon-time.png');
		background-repeat: no-repeat;
	}

	.special-news__comment {
		margin-left: 15px;
		padding-left: 15px;
		background-image: url('img/icon-comments.png');
		background-repeat: no-repeat;
	}
