html, body {
	margin: 0;
	padding: 0;
	min-width: 1280px;
	font-family: Arial;
	font-size: 12px;
}

h1 {
	font-size: 14px;
}

h2 {
	font-size: 20px;
	padding: 25px 0 20px 18px;
	margin: 0 0 32px;
	border-bottom: 1px solid #e5e5e5;
}

h3 {
	font-size: 20px;
	display: inline-block;
	padding: 26px 130px 23px 20px;
	margin: 0 auto 30px;
	margin-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
}

.fixed-container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: space-between;
}